header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  background: #FEFEFE;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 70px;
  text-align: center;
}
body {
  margin: 0px;
  background: #FEFEFE;
}
.logo {
  position: 50%;
}
.logo2 {
  width: 53.29px;
  height: 27.35px;
}
.home {
  font-family: Montserrat-Light;
  font-size: 18px;
  color: #2F2F2F;
}
a.home:link {
  text-decoration: none;
}
a.home:visited {
  text-decoration: none;
}
a.home:hover {
  font-family: Montserrat-Regular;
}
a.home:active {
  text-decoration: none;
}
.grid {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: auto;
  grid-gap: 24px;
}
.headings {
  font-family: Montserrat-Bold;
  font-size: 48px;
  color: #2F2F2F;
  grid-column: 2;
  grid-row: 1;
  margin-left: 5%;
  margin-top: 160px;
}
.content {
  grid-column: 2;
  grid-row: 2;
  font-family: Baskerville;
  font-size: 24px;
  color: #2F2F2F;
  line-height: 36px;
  margin-left: 10%;
  margin-right: 10%;
}
.pic1 {
  grid-column: 1/3;
  grid-row: 3;
  height: auto;
  max-width: 100%;
}
.pic2 {
  grid-column: 1/3;
  grid-row: 10;
  height: auto;
  max-width: 100%;
}
.pic3 {
  grid-column: 1/3;
  grid-row: 13;
  height: auto;
  max-width: 100%;
}
.pic4 {
  grid-column: 1/3;
  grid-row: 7;
  height: auto;
  max-width: 100%;
}
.headings2 {
  font-family: Montserrat-Bold;
  font-size: 48px;
  color: #2F2F2F;
  grid-column: 2;
  grid-row: 4;
  margin-left: 5%;
}
.content2 {
  grid-column: 2;
  grid-row: 6;
  font-family: Baskerville;
  font-size: 24px;
  color: #2F2F2F;
  line-height: 36px;
  margin-left: 10%;
  max-width: 100%;
  margin-right: 10%;
}
.headings3 {
  font-family: Montserrat-Bold;
  font-size: 48px;
  color: #2F2F2F;
  grid-column: 2;
  grid-row: 8;
  margin-left: 5%;
}
.content3 {
  grid-column: 2;
  grid-row: 9;
  font-family: Baskerville;
  font-size: 24px;
  color: #2F2F2F;
  line-height: 36px;
  margin-left: 10%;
  max-width: 100%;
  margin-right: 10%;
}
.headings4 {
  font-family: Montserrat-Bold;
  font-size: 48px;
  color: #2F2F2F;
  grid-column: 2;
  grid-row: 11;
  margin-left: 5%;
}
.content4 {
  grid-column: 2;
  grid-row: 12;
  font-family: Baskerville;
  font-size: 24px;
  color: #2F2F2F;
  line-height: 36px;
  margin-left: 10%;
  max-width: 100%;
  margin-right: 10%;
}
.headings5 {
  font-family: Montserrat-Bold;
  font-size: 48px;
  color: #2F2F2F;
  grid-column: 2;
  grid-row: 14;
  margin-left: 5%;
}
.content5 {
  grid-column: 2;
  grid-row: 15;
  font-family: Baskerville;
  font-size: 24px;
  color: #2F2F2F;
  line-height: 36px;
  margin-left: 10%;
  max-width: 100%;
  margin-right: 10%;
  margin-bottom: 5%;
}
footer {
  font-family: Montserrat-Light;
  font-size: 10px;
  color: #B4B4B4;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.menu {
  display: grid;
  grid-template-rows: auto;
  background: #FEFEFE;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  margin-top: 94px;
  margin-left: 24px;
  padding: 24px;
  width: 20%;
  position: fixed;
  height: auto;
}
.about {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  color: #2F2F2F;
  margin-bottom: 0px;
}
.faq {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  color: #2F2F2F;
  margin-bottom: 24px;
  margin-top: 0px;
}
.subpoints {
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #2F2F2F;
  margin-left: 12px;
  margin-bottom: 24px;
}
.subpointsend {
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #2F2F2F;
  margin-left: 12px;
  margin-bottom: 12px;
}
hr {
  margin-top: 24px;
  margin-bottom: 24px;
  height: 0;
  border: none;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
a.faq:link {
  text-decoration: none;
}
a.faq:visited {
  text-decoration: none;
}
a.faq:hover {
  text-decoration: none;
}
a.faq:active {
  text-decoration: none;
}
a.subpoints:link {
  text-decoration: none;
}
a.subpoints:visited {
  text-decoration: none;
}
a.subpoints:hover {
  font-family: Montserrat-Bold;
}
a.subpoints:active {
  text-decoration: none;
}
a.subpointsend:link {
  text-decoration: none;
}
a.subpointsend:visited {
  text-decoration: none;
}
a.subpointsend:hover {
  font-family: Montserrat-Bold;
}
a.subpointsend:active {
  text-decoration: none;
}
a.about:link {
  text-decoration: none;
}
a.about:visited {
  text-decoration: none;
}
a.about:hover {
  text-decoration: none;
}
a.about:active {
  text-decoration: none;
}
